<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>David Zambrano Lizarazo</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <style>      
        .textAnimate {
            font-family: sans-serif;
            text-align: center;
            color: #fff;

        }
        .textAnimate span {
            opacity: 0;
            transition: opacity .4s ease;
        }
        .textAnimate span.fade {
            opacity: 1;
        }
      .page-header{
        background-image:linear-gradient(120deg, #155799, #1b221f) !important;
      }
    </style>
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name textAnimate">J. David Zambrano Lizarazo</h1>
      <h2 class="project-tagline">
      Desarrollador y Analista de software <br/>
      con conocimientos en [ Nodejs , React & Redux,Blockchain,C#, PHP,AWS,Python, SGDB,.. ]
      </h2>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">This page * by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </section>
    
    <script>
        const textAnimate = document.querySelector('.textAnimate')
        const spltText = textAnimate.textContent.split('')
        textAnimate.textContent = ''
        for (text of spltText) {
            textAnimate.innerHTML += `<span>${text}</span>`
        }
        let j = 0
        const onSpan = () => {
            const span = textAnimate.querySelectorAll('span')[j]            
            span.classList.add('fade')
            j++

            if (j === spltText.length) {
                clearInterval(timer)
                timer = null
                return
            }
        }
        let timer = setInterval(onSpan, 60)
    </script>
  </body>
</html>
